
// MAIN HUE COLORS 
// -----------------------
$MainBlue: #317995;
$MainOrange: #ED9E48;
$MainRed: #ED6248;
$MainGreen: #35AD5D;
// -----------------------
// SECONDARY COLORS / LIGHTER THAN MAIN COLORS
// -----------------------
$SecBlue: #7DB5CA;
$SecOrange: #FFBA6F;
$SecRed: #ED6248;
$SecGreen: #82D99F;
// -----------------------
