@import "./_colors.scss";


#side-menu{
    position: absolute;
    height: 100%;
    z-index: 3;
    background: $Asphalt;
    color: $Clouds;
    width: 22%;

    float: left;
    display: block;
    left: 0;
    h3{
        border-bottom: solid 1px #000;
    }
}
.menu{
    padding: 0;
    margin: 0;      
    list-style: none;
    .menu_title{
        font-size: 1.3em;
                border-bottom: 1px solid #333;

        padding-bottom: 1rem;
    }
    .menu_item{
        border-bottom: 1px solid #333;
        padding: .7rem;
        cursor: pointer;
        &:hover{
            background: #4A6075;
        }
    }
    .selected{
        background: #4A6075;
        color: $Yellow;
        font-weight: bolder;
    }
}