//    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500|Work+Sans:300,400,600" rel="stylesheet">
@import "./_colors.scss";

h1, h2, h3, h4, h5{
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: $MainRed;
}
p{
    font-family: "Work Sans", serif;
    color: #FFF;
}
body{
    background: $MainBlue;

    background-attachment: fixed;
}

.courses_card{
    background: $MainGreen;
    border-radius: 4px;
}

.tool-tip{
    background: none repeat scroll 0 0 #222; /*-- some basic styling */
	color: #F0B015;
	font-family: 'Helvetica';
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 16px 15px;
	width: 240px;
	top: -4em;  /*-- this is the original position of the tooltip when it's hidden */
	left: 20em;
	margin-left: 0;	
	/*-- set opacity to 0 otherwise our animations won't work */
	opacity: 1;
	filter: alpha(opacity=0);  	
	position: absolute;
	text-align: center;	
	z-index: 2;
	text-transform: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease-in-out;
 :after {
	border-color: #222 rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 31px;
	position: absolute;
	width: 0;
}
}




